@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


:root{
    --background: #252525;
    --text-white: #ffffff;
}


    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        list-style-type: none; 
    }

    body{
        background-color: #131415;
    }





 .header {
        
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

.logo{
width: 76px;

cursor: pointer;

    }


.navbar {
 display: flex;
 align-items: center;
justify-content: center;
color: var(--text-white); 
 font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
margin-right: 30px;
}

.icon-profile{
    
    cursor: pointer;
}

.icon-cart{
    cursor: pointer;
}

.navbar-list{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.navbar-list a {
    margin-left: -60px;
    color: var(--text-white);
    font-size: 12px;
    font-weight: 400;
    text-align: center;

}



.icon-home{
    cursor: pointer;
}
.home {
    margin-right: 20px;
 }


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    

}

#hero{
    
    padding: 60px 40px;
    display: flex;
    align-items: center;
    color: var(--text-white);  
    width: 90%;  
    position: relative;
    
    
    
}


.hero_info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

#hero h1 {
font-weight: 700;
font-size: 66px;
}

#hero h2{
    font-size: 51px;
    font-weight: 700;
}

#hero p{
    font-size: 21px;
    font-weight: 400;
    margin: 25px 0px;
}

.hero_info a{
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
border-radius: 15px;
font-size: 14px;
font-weight: 700;
color: var(--text-white);
width: 166px;
height: 50px;
text-align: center;
padding: 15px 0px;

}

.pizza_hero1{
position: absolute;
width: 265px;
height: 265px;
right: 219px;
}

.pizza_hero2{
position: absolute;
width: 392px;
height: 392px;
right: -40px;
top: -30px;
}



.hoyt{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-white);
    width: 85%;
    padding: 25px 0px;
    
}




#recommended_pizza {
display: flex;
align-items: center;
gap: 40px;
margin-bottom: 80px;
}

.caja {
background-color: var(--background);
width: 347px;
height: 103px;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
border-radius: 15px;
}

.text{
    line-height: 25px;
}

.name{
    color: var(--text-white);
    font-size: 15px;
    font-weight: 500;
}

.subname{
 font-size: 14px;
 font-weight: 400;
 letter-spacing: 0.5px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.3;
letter-spacing: 0.5px;

}

.price{
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn_caja{
    width: 85px;
height: 29px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-white);
    letter-spacing: 0.5px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
border-radius: 17.5px;
text-align: center;
padding: 7px 0px;
}

.category{
    font-size: 15px;
    font-weight: 800;
    width: 85%;
    color: var(--text-white);
}






/*CATEGORIAS *//*CATEGORIAS *//*CATEGORIAS *//*CATEGORIAS */

#categorias{
    display: flex;
    gap: 40px;
    align-items: center;
    
    margin-top: 35px;
    margin-bottom: 60px;
    
}

.caja2{
background-color: var(--background);
width: 147px;
height: 171px;
border-radius: 15px;
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 20px;
cursor: pointer;
}

.caja2 p{
    color: var(--text-white);
    font-size: 15px;
    font-weight: 400;
}

.rectangulo{
    width: 26px;
    height: 4px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    border-radius: 2px;
}

/*CATEGORIAS *//*CATEGORIAS *//*CATEGORIAS *//*CATEGORIAS *//*CATEGORIAS */













/*blur effect*//*blur effect*//*blur effect*/



.zappi{
    margin-top: 17px;
    z-index: 1;
}

.pizza34{
position: relative;
}

.pizzablur{
position: absolute;
opacity: 0.5;
filter: blur(5px);
top: 32px;
right: 35px;
}

/*blur effect*//*blur effect*//*blur effect*/


.burger{
position: relative;
}
.burger1{
    z-index: 1;
}
.burgerblur{
position: absolute;
opacity: 0.5;
filter: blur(5px);
top: 13px;
}



/*blur effect*//*blur effect*//*blur effect*/


.fries{
    position: relative;
}
.fries2{
    z-index: 1;
}
.fries_blur{
position: absolute;
opacity: 0.5;
filter: blur(3px);
top: 14px;
left: 37px;
}

/*blur effect*//*blur effect*//*blur effect*/

.pizza3d{
    position: relative;
}

.pizza_2{
    z-index: 1;
}


.pizza_blur{
    position: absolute;
    opacity: 0.5;
filter: blur(2px);
top: 14px;
right: 28px;
}

/*blur effect*//*blur effect*//*blur effect*/

.burrito{
    position: relative;
}

.burrito_1{
    z-index: 1;
}

.burrito_blur{
    position: absolute;
    opacity: 0.5;
    filter: blur(2px);
    top: 15px;
}

/*blur effect*//*blur effect*//*blur effect*/

.taco{
    position: relative;
}

.taco_1{
    z-index: 1;
}

.taco_blur{
    filter: blur(2px);
    opacity: 0.5;
    position: absolute;
    top: 14px;
}

/*blur effect*//*blur effect*//*blur effect*/


.batido{
    position: relative;
}

.batido_1{
    z-index: 1;
}

.batido_blur{
    position: absolute;
    opacity: 0.5;
    filter: blur(2px);
    top: 15px;
    right: 28px;
}

/*blur effect*//*blur effect*//*blur effect*/








/* lOS MAS POPULARES */

.populares{
    font-size: 22px;
    font-weight: 500;
    color: var(--text-white);
    width: 85%;
}


#popular{
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: 0px 170px;

}




.caja3{
display: flex;
flex-direction: column;
width: 282px;
height: 213px;
background-color: var(--background);
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
border-radius: 15px;
align-items: center;

}

.third{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    
}

.pizza_popular{
    width: 237px;
    height: 97px;
    padding-top: 5px;
    margin: 10px 10px;
}


.caja3 a {
    margin-top: 40px;
}


/* FOOTER */


.footer{
display: flex;
flex-direction: column;
text-align: center;
gap: 70px;
color: var(--text-white);
margin-top: 90px;
margin-bottom: 50px;
}


.footer_list{
    display: flex;
    gap: 20px;
    font-size: 17px;
    font-weight: 400;
}

.footer em{
    font-weight: 900;
}

.footer p {
    font-size: 17px;
}

.footer li{
    cursor: pointer;
}

/* FOOTER */



/* menu hamburguesa */
.toggle-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    align-items: center;
}

#menu-toggle,
.menu-label{
    display: none;
}

.togi{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* menu hamburguesa */